:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --trasparent-text-color: rgba(255, 255, 255, 0.6);
  --active-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --primary-border-color: #eeeeee;
  --secondary-border-color: #ececec;
  --media-icon-color: #afb1b8;
  --button-hover-color: #188ce8;
  --transparent-bg-color: rgba(47, 48, 58, 0.8);
  --modal-backload-bg: rgba(0, 0, 0, 0.2);
  --active-bg-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.flex-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

/* Navigation panel */

.page-header {
  border-bottom: 1px solid var(--secondary-border-color);
}
.navigation-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  padding: 25px 0;
  color: var(--active-text-color);
}
.navigation-list {
  height: auto;
  display: flex;
  flex-direction: row;
}
.logo__end {
  color: var(--secondary-text-color);
}
.navigation-list__item {
  position: relative;
  height: 100%;
}
.navigation-list__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding-top: auto;
  padding-bottom: auto;
  padding: 32px 0px;
  transition-property: color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--active-text-color);
}

.navigation-list__link--active {
  color: var(--active-text-color);
}
.navigation-list__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-text-color);
  border-radius: 2px;
  transform: translate(-50%);
}

/* Contacts */

.contact-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.contact-list__icon {
  fill: currentColor;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  margin-right: 10px;
}
.contact-list__item:not(:last-child) {
  margin-right: 50px;
}
.contact-list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 25px 0;
  transition-property: color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--active-text-color);
}

/* Hero section */

.hero-section {
  background: var(--secondary-bg-color);
  padding: 200px 0px;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}
.hero-section__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--active-text-color);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.order-button:hover,
.order-button:focus {
  background-color: var(--button-hover-color);
}
/* Modal window */

.backload {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backload-bg);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity var(--animation-time) var(--timing-function), visibility var(--animation-time) var(--timing-function), pointer-events var(--animation-time) var(--timing-function);
}
.backload.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  width: 528px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: inherit;
  border-radius: 50%;
}
.close-button__icon {
  fill: #000;
  transition: fill var(--animation-time) var(--timing-function);
}
.close-button:hover > .close-button__icon,
.close-button:focus > .close-button__icon {
  fill: var(--active-text-color);
}
.modal-window__message {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.request-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.input-item {
  position: relative;
  margin-bottom: 28px;
}
.input-item__title {
  display: block;
  position: absolute;
  bottom: 100%;
  transform: translateY(-4px);
}
.input-item__field {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 45px;
  transition: border-color var(--animation-time) var(--timing-function);
}
.input-item__field:focus {
  border-color: var(--active-text-color);
  outline: none;
}

.input-item__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition: fill var(--animation-time) var(--timing-function);
}
.input-item__field:focus + .input-item__icon {
  fill: var(--active-text-color);
}
.input-item--closer {
  margin-bottom: 20px;
}
.input-item__field--higher {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.agreement {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.agreement__check-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement__checked-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--active-text-color);
}
.agreement__check-icon:not(:checked) + .agreement__checked-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement__nonchecked-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--secondary-text-color);
}
.agreement__check-icon:checked ~ .agreement__nonchecked-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement__text {
  width: 100%;
  padding-left: 36px;
}
.agreement__link {
  font-style: normal;
  color: var(--active-text-color);
}
.submit-button {
  padding: 0;
  border: 0;
  align-self: center;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--active-text-color);
  transition: background-color var(--animation-time) var(--timing-function);
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--button-hover-color);
}
/* Section 2 Features */

.features {
  padding-top: 94px;
}
.feature-list {
  display: flex;
}
.feature-list__card {
  flex-basis: calc((100%-90px) / 4);
}
.feature-list__card:not(:last-child) {
  margin-right: 30px;
}
.feature-list__pic {
  width: auto;
  height: 120px;
  background-color: var(--third-bg-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.feature-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.feature-list__description {
  line-height: 1.71;
  margin-bottom: 0;
}

/* Section "What we are doing */

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.work-examples {
  display: flex;
}
.work-examples__card {
  position: relative;
}
.work-examples__card:not(:last-child) {
  margin-right: 30px;
}
.work-examples__photo {
  display: block;
  max-width: 100%;
  height: auto;
  flex-basis: calc((100% - 90px) / 3);
}
.work-examples__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent-bg-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}

/* Section "Our team */

.section--dark {
  background-color: var(--third-bg-color);
}
.member-list {
  display: flex;
}
.member-list__card {
  background-color: var(--primary-bg-color);
  display: block;
  max-width: 100%;
  height: auto;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-list__card:not(:last-child) {
  margin-right: 30px;
}
.member-list__description {
  padding: 30px 0;
}
.member-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.member-list__position {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}
.media-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-list__item:not(:last-child) {
  margin-right: 10px;
}
.media-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.media-list__link:hover,
.media-list__link:focus {
  background-color: var(--active-text-color);
}
.media-list__icon {
  height: 20px;
  width: 20px;
  fill: var(--media-icon-color);
  transition-property: fill;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.media-list__link:hover .media-list__icon,
.media-list__link:focus .media-list__icon {
  fill: var(--third-text-color);
}

/* Customers section */

.clients-list {
  display: flex;
}
.clients-list__item {
  flex-basis: calc((100%-150px) / 6);
}
.clients-list__item:not(:last-child) {
  margin-right: 30px;
}
.clients-list__link {
  display: flex;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--media-icon-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--active-text-color);
}
.clients-list__icon {
  fill: var(--media-icon-color);
  transition-property: fill;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--active-text-color);
}

/* Footer */

.page-footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer__conteiner {
  display: flex;
  align-items: baseline;
  padding: ;
}

.footer__logo {
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
}
.logo__end--white {
  color: var(--third-text-color);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 70px;
}
.footer-contacts__link {
  text-decoration: none;
  color: var(--trasparent-text-color);
  transition-property: color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--active-text-color);
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__address {
  color: var(--third-text-color);
}
.media-subscribtion__text {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.media-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.media-list__link--dark:hover,
.media-list__link--dark:focus {
  background-color: var(--active-text-color);
}
.media-list__icon--white {
  fill: var(--third-text-color);
}
.subscription {
  margin-left: auto;
}
.subscription-form__text {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.subscription-form__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.subscription-form__field {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--trasparent-text-color);
}
.submit-button__icon {
  margin-left: 10px;
}

/* Portfolio page */

/* Filter buttons */
.filter-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list__button {
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--third-bg-color);
  border-radius: 4px;
  border-width: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  margin-right: 8px;
  box-shadow: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.filter-list__button:hover,
.filter-list__button:focus,
.filter-list__button:active {
  color: var(--third-text-color);
  background: var(--active-text-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Project list */
.project-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.project-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.project-card {
  display: block;
  text-decoration: none;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-function);
}
.project-card__img-box {
  position: relative;
  overflow: hidden;
}
.project-card__details {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  background-color: var(--active-bg-color);
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  transition: transform var(--animation-time) var(--timing-function);
}
.project-card:hover .project-card__details {
  transform: translateY(0);
}
.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card__description {
  border-left: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  padding: 20px 24px;
}
.project-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.project-card__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
